@use "swiper/css";
@use "swiper/css/navigation";
@use "swiper/css/pagination";

.gallery-buttons {
  .swiper-button-next,
  .swiper-button-prev {
    color: #c026d3;
  }

  .swiper-pagination-bullet {
    background-color: #f0abfc;
    opacity: 0.6;
    transition: opacity 0.3s;

    &-active {
      background-color: #c026d3;
      opacity: 1;
    }
  }
}

.example-image {
  @apply w-full rounded-lg;
}
