@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  @apply text-gray-900 antialiased;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  @apply my-[1rem] text-xl md:text-2xl lg:text-3xl font-bold;
}

h2 {
  @apply font-semibold text-center text-lg lg:text-xl my-3;
}

h3 {
  @apply max-w-xl mx-auto space-y-4 text-lg italic text-center;
}

p {
  @apply text-lg text-gray-600;
}

main {
  @apply mt-[6rem] max-w-[95%] sm:max-w-[85%] lg:max-w-[75%] mx-auto;
}

section {
  @apply sm:my-[2rem] lg:my-[4rem] scroll-mt-[6rem];
}

.button {
  @apply px-6 py-3 my-6 text-white bg-fuchsia-600 rounded-lg hover:bg-fuchsia-800 transition;
}
