@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  @apply text-gray-900 antialiased;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

h1 {
  @apply scroll-mt-[6rem] my-[1rem] text-xl md:text-2xl lg:text-3xl font-bold;
}
h2 {
  @apply my-[1rem] text-xl md:text-2xl lg:text-3xl font-bold;
}

h3 {
  @apply font-semibold text-center text-lg lg:text-xl my-3;
}

h4 {
  @apply text-sm text-gray-600 mt-1;
}

.hero-subtitle {
  @apply max-w-xl mx-auto text-lg italic text-center mb-[-3rem];
}

p {
  @apply text-lg text-gray-600;
}

main {
  @apply mt-[6rem] max-w-[95%] sm:max-w-[85%] lg:max-w-[75%] mx-auto;
}

section {
  @apply sm:my-[2rem] lg:my-[4rem] scroll-mt-[6rem];
}

.button {
  @apply px-4 py-2 text-white rounded-md bg-fuchsia-600 hover:bg-fuchsia-800 transition;
}

.button-grey {
  @apply px-4 py-2 rounded-md bg-gray-200 hover:bg-gray-400 transition;
}

.hidden-header {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
