.fuchsia-swiper .swiper-button-next,
.fuchsia-swiper .swiper-button-prev {
  color: #c026d3;
}

.fuchsia-swiper .swiper-pagination-bullet {
  background-color: #f0abfc;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.fuchsia-swiper .swiper-pagination-bullet-active {
  background-color: #c026d3;
  opacity: 1;
}
